.first-page {
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-width: 100%; */
    z-index: -100;    
    padding-top: 50px;
}

.main {
    background-image: url("/netflix/images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-inline: auto;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: nowrap;
}

.logo {
    height: 38px;
    margin-left: 100px;
    margin-top: 20px;
}

.selection2 {
    margin-left: 315px;
    margin-bottom: 70px;
}
.selection2,
.selection {
    margin-top: 20px;
    font-size: 14px;
    position: relative;
    font-weight: 700;
    margin-right: 100px;
}

.language {
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    border-radius: 4px;
    margin-right: 18px;
}

.lang-icon {
    height: 18px;
    position: absolute;
    left: 7px;
    top: 6px;
}

.red-button {
    background-color: #E50914;
    border: none;
    color: white;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.entry-text {
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8em;
    gap: 22px;
    margin-inline: auto;
    text-align: center;
}

.entry-text :first-child {
    font-size: 4em;
    font-weight: 1000;
    margin-top: 10px;
}

.entry-text :nth-child(2) {
    font-size: 22px;
}
.entry-text :nth-child(3) {
    font-size: 18px;
}


.red-button-2 {
    background-color: #E50914;
    border: none;
    color: white;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 1000;   
}

.divider {
    height: 8px; 
    background-color: rgb(35, 35, 35);

}

.get-started {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.get-started input {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px rgb(196, 193, 193) solid;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    width: 0;
    flex: 1;
    max-width: 500px;
}
.get-started::placeholder {
    color: rgb(221, 218, 218);
    font-weight: 600;
}

.get-started button {
    background-color: #E50914;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;    
}

.left-text {
    display: flex;
    color: white;
    flex-wrap: wrap;
    min-height: 500px;
    justify-content: center;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    /* padding-left: 25vh;
    padding-right: 20vh; */
}

.right-text {
    display: flex;
    color: white;
    flex-wrap: wrap;
    min-height: 500px;
    justify-content: center;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    /* margin-left: 25vh;
    margin-right: 25vh; */
}

.right-text div :first-child, 
.left-text div :first-child {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}
.right-text div :last-child,
.left-text div :last-child {
    font-size: 20px;
    text-align: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    width: 50%;
}

/* 
video {
    position: absolute;
    right: 100px;
    z-index: -1;
    width: 400px;
} */

.mockup-1, .mockup-2 {
    position: relative;
    min-width: 100px;
    align-items: left;
    /* width: 50%; */
}

.mockup2 {
    position: relative;
}

.mockup2img {
    width: 640px;
}
.downloadss {
    width: 350px;
    height: 100px;
    background-color: beige;
    position: absolute;
    bottom: 50px;
    right: 150px;
    border-radius: 15px;
    z-index: 25;
    background-color: black;
    border: grey solid 2px;
    display: flex;
}

.downloadss img {
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    top: 20px;
    max-width: 100%;
}
.mockup-1 img {
    z-index: -1;
    width: 100%;
    min-width: 100px;
}
.mockup-1 video {
    z-index: -2;
    position: absolute;
    width: 450px;
    right: 100px;
    top: 100px;
    max-width: 100%;
    min-width: 100px;
}

.mockup-2 video {
    z-index: -2;
    position: absolute;
    width: 390px;
    right: 130px;
    top: 50px;
}

.mockup-2 img {
    width: 100%;
}